<div class="row">
  <div class="col-md-10 col-md-offset-1">

<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => 'register'}) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :username, 'Имя пользователя' %><br />
      <%= f.text_field :username, class: 'form-control', autofocus: true %>
    </div>

  <div class="form-group">
    <%= f.label :email, 'Электронная почта' %><br />
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Пароль' %>
    <% if @validatable %>
    <em>(не менее <%= @minimum_password_length %> символов)</em>
    <% end %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Повторите пароль' %><br />
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Аватар пользователя</label>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-group">
    <span id="captcha_error"></span>
    <%= recaptcha_tags ajax: true %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегистрироваться", class: 'btn btn-default'  %>
  </div>
<% end %>
    <br />
<%= render "devise/shared/links" %>
  </div>
</div>

<script>

</script>