<div class="row">
  <h4>Настройки для рекламы:</h4>
<%= form_tag set_option_path, method: :patch, remote: true, class: 'form-inline text-right' do %>
    <div class="form-group col-xs-12">
      <%= label_tag @options['ads_num'], 'Количество показов рекламы пользователю', class: 'col-xs-4' %>
      <%= hidden_field_tag 'name', 'ads_num' %>
      <%= number_field_tag 'value', @options['ads_num'] || 0, id: 'ads_num', style: 'width: 300px;', step: 1, class: 'form-control col-xs-8' %>
      <%= submit_tag 'Установить', class: 'btn btn-default', id: 'ads_butt' %>
    </div>
<% end %>
</div>
<div class="row">
  <h4>Настройки для связанных тегов:</h4>
  <%= form_tag set_option_path, method: :patch, remote: true, class: 'form-inline text-right' do %>
      <div class="form-group col-xs-12">
        <%= label_tag @options['ads_num'], 'Теги связаны, если встречаются вместе больше чем:', class: 'col-xs-4' %>
        <%= hidden_field_tag 'name', 'tag_count' %>
        <%= number_field_tag 'value', @options['tag_count'] || 0, id: 'tag_num', style: 'width: 300px;', step: 1, class: 'form-control col-xs-8' %>
        <%= submit_tag 'Установить', class: 'btn btn-default', id: 'tag_butt' %>
      </div>
  <% end %>
</div>
<div class="row">
  <h4>Настройки ссылок для социальных сетей:</h4>
  <% {'fb-link' => 'facebook', 'tw-link' => 'twitter', 'vk-link' => 'Вконтакте'}.each do |link, name| %>
      <%= form_tag set_option_path, method: :patch, remote: true, class: 'form-inline text-right' do %>
          <div class="form-group col-xs-12" style="margin-bottom: 10px;">
            <%= label_tag @options[link], "Ссылка для #{name}", class: 'col-xs-4' %>
            <%= hidden_field_tag 'name', link %>
            <%= text_field_tag 'value', @options[link] || '', id: link, style: 'width: 300px;', class: 'form-control col-xs-8' %>
            <%= submit_tag 'Установить', class: 'btn btn-default', id: "#{link}_butt" %>
          </div>
      <% end %>
      <br />
  <% end %>
</div>