<tr id="user-<%= user.id %>">
  <td style="vertical-align: middle;">
    <%= image_tag user.avatar.url(:medium), width: '80' %>
  </td>
  <td style="vertical-align: middle;">
    <%= link_to user.username, user_path(user.id) %>
  </td>
  <td style="vertical-align: middle;">
    <%= user.email %>
  </td>
  <td style="vertical-align: middle;">
    <% if user.newbie? %>Пользователь<% end %>
    <% if user.corrector? %>Корректор<% end %>
    <% if user.author? %>Автор<% end %>
    <% if user.editor? %>Редактор<% end %>
    <% if user.admin? %>Администратор<% end %>
  </td>
  <td class="text-center" style="vertical-align: middle;">
    <% if current_user.admin? %>
        <% if current_user.id != user.id %>
            <%= link_to 'В администратора!', to_admin_path(user), remote: true, method: :patch, class: 'btn btn-default btn-xs' %> <br />
            <%= link_to 'В редактора!', to_editor_path(user), remote: true, method: :patch, class: 'btn btn-default btn-xs' %> <br />
            <%= link_to 'В автора!', to_author_path(user), remote: true, method: :patch, class: 'btn btn-default btn-xs' %> <br />
            <%= link_to 'В корректора!', to_corrector_path(user), remote: true, method: :patch, class: 'btn btn-default btn-xs' %> <br />
        <% else %>
            Вы не можете<br />изменить свои права<br />(вы администратор)
        <% end%>
    <% else %>
        Только администратор может менять роли.
    <% end %>
  </td>
  <td style="vertical-align: middle;">
    <% if current_user.id == user.id %>
        <abbr title="Это вы">
          <%= link_to user_path(current_user.id), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-user"></span>
          <% end%>
        </abbr>
    <% elsif current_user.admin? && !user.admin? %>
        <%= link_to delete_user_path(user), method: :delete, remote: true, data: { confirm: 'Вы действительно хотите удалить этого пользователя? Это действие невозможно отменить.' }, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-trash"></span>
        <% end%>
    <% end %>
  </td>
</tr>