<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Заголовок' %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, 'Содержимое' %><br>
    <%= f.cktext_area :content, :id => 'content', :ckeditor => {:toolbar => 'mini'} %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, 'Теги (разделяйте запятыми)' %><br />
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>

  <% unless current_user.corrector? || current_user.author? %>
      <div class="form-group">
        <%= f.check_box :main %> <%= f.label :main, 'Новость отображается на главной' %>
      </div>

      <div class="form-group">
        <%= f.check_box :featured %> <%= f.label :featured, 'Новость выделена на главной' %>
      </div>
  <% end %>

  <div class="form-group">
    <%= f.label :photo, 'Главное фото новости:' %><br>
    <% if @post.photo.exists? %>
        <label class="col-md-offset-1">Фото уже прикрепили:</label>
        <div class="form-group col-md-offset-1">

        <%= image_tag @post.photo.url, width: 200 %>
        </div>
    <% end %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit 'Опубликовать', class: 'btn btn-default' %>
  </div>
<% end %>