<h2><%= @post.title %></h2> <p>Автор: <%= @post.user.username %></p>
<% if @post.main %>
    <p class="text-primary">Эта новость отображается на главной странице</p>
<% end %>

<% if @post.featured %>
    <p class="text-primary">Эта новость выделена на главной странице</p>
<% end %>

<div style="">
  <div style="float: right;">
    <%= image_tag @post.photo.url, width: 200, class: 'img-thumbnail img-responsive' %>
  </div>
  <%= @post.content.html_safe %>
</div>

<div>
  Теги:
  <% @post.tag_list.each do |tag| %>
      <%= link_to tag, tag_posts_path(tag), class: 'btn btn-default', style: 'line-height: 1.5;' %>
  <% end %>
</div>

<br />

<%= link_to 'Редактировать', edit_post_path(@post), class: 'btn btn-default' %>
