<div class="search-result-head">
  <% if @posts.total_entries.zero? %>
      <h2>По запросу «<%= params[:word] %>» не найдено ни одной новости</h2>
  <% elsif @posts.total_entries == 1 %>
      <h2>По запросу «<%= params[:word] %>» найдена одна новость</h2>
  <% else %>
      <h2>По запросу «<%= params[:word] %>» найдено новостей: <%= @posts.total_entries %></h2>
  <% end %>

  <!--<hr/>
  <div class="sort-by">
    Сортировать:
    <!--!!!!!!!!!!!-->
  <!-- <i> mozhet imet' klassi "none", "down", "up". esli none - to strelki ne budet, esli down - strelka vniz, esli up - strelka vverh  -->
  <!--!!!!!!!!!!!-->
  <!--<a href="#">по релевантности <i class="none"></i></a>
  <a href="#" class="active">по дате <i class="down"></i></a>
</div>-->
</div>

<hr/>
<div class="result-items-wrapper">
  <% @posts.each do |post| %>
      <%= link_to link_selector(post), target: target_selector(post), data: {id: post.id}, class: 'clearfix item-result' do %>
          <%= image_tag post.photo.url %>
          <time><%= Russian::strftime(post.created_at, "%d %B %Y") %></time>
          <span class="title"><%= post.title %></span>
          <span class="text"><%= truncate strip_tags(post.content.html_safe), length: 150 %></span>
      <% end %>
      <hr/>
  <% end %>
  <div class="text-center">
    <%= will_paginate @posts, remote: true %>
  </div>
</div>