<div class="row">
  <div class="fotorama-wrap main-slider">
    <% @featured_posts.each do |post| %>
    <div class="fotorama-slide">
      <%= image_tag post.photo.url %>
      <div class="slide-info">
        <p class="title">
        <%= truncate strip_tags(post.title), length: 100 %>
        </p>
        <p class="text">
          <%= truncate strip_tags(post.content.html_safe), length: 150 %>
        </p>
        <div class="counters">
          <%= link_to read_post_path(post.id, anchor: 'main_read'), class: 'views' do %>
            <i><span></span></i> <%= post.visits %>
          <% end %>
          <%= link_to read_post_path(post.id, anchor: 'disqus_thread'), class: 'comments' do %>
              <i><span></span></i> <span class="disqus-comment-count" data-disqus-url="<%= read_post_url(post.id) %>">0</span>
          <% end %>

          <%= link_to read_post_path(post.id, anchor: 'social_share'), class: 'shares' do %>
            <i><span></span></i> <%= post.shared %>
          <% end %>
        </div>
        <%= link_to 'Читать полностью', read_post_path(post), class: 'read-more-btn' %>
      </div>
    </div>
    <% end %>
  </div>
</div>