<div class="container search-page">
  <div class="search-result-head">
    <br />
    <span class="h1">
        Архив новостей с <%= Russian::strftime(Date.parse(params[:start_date]), "%d %B %Y") %>
        по <%= Russian::strftime(Date.parse(params[:end_date]), "%d %B %Y") %>
    </span>
    <% if @posts.total_entries.zero? %>
        <h2>В указанном промежутке времени не найдено ни одной новости</h2>
    <% elsif @posts.total_entries == 1 %>
        <h2>В указанном промежутке времени найдена одна новость</h2>
    <% else %>
        <h2>В указанном промежутке времени найдено новостей: <%= @posts.total_entries %></h2>
    <% end %>
  </div>

  <hr/>
  <div class="result-items-wrapper">
    <% @posts.each do |post| %>
        <%= link_to link_selector(post), target: target_selector(post), data: {id: post.id}, class: 'clearfix item-result' do %>
            <%= image_tag post.photo.url %>
            <time><%= Russian::strftime(post.created_at, "%d %B %Y") %></time>
            <span class="title"><%= post.title %></span>
            <span class="text"><%= truncate strip_tags(post.content.html_safe), length: 150 %></span>
        <% end %>
        <hr/>
    <% end %>
    <div class="text-center">
      <%= will_paginate @posts %>
    </div>
    <br />
    <br />
  </div>
</div>