<div class="container">
  <!--  begin slider  -->
  <%= render partial: 'slider_news', object: @featured_posts %>
  <!--  END slider  -->

  <!--  begin last news  -->
  <%= render partial: 'last_news' %>
  <!--  END last news  -->

  <!--  begin news main  -->
  <div class="row">

    <!--  begin popular-news  -->
    <%= render partial: 'popular_news' %>
    <!--  END popular-news  -->



    <div class="news-items small">
      <% @posts.first(5).each_with_index do |post, index| %>
          <a href="#" class="news-item <%= size(index + 1) %>">
            <%= image_tag post.photo.url %>
                    <span class="news-descrip">
                        <%= post.title %>
                             <span class="read-more">Читать далее...</span>
                    </span>
          </a>
      <% end %>
    </div>

    <div class="news-items">
    <% @posts.offset(5).each_with_index do |post, index| %>
          <a href="#" class="news-item <%= size(index) %>">
            <%= image_tag post.photo.url %>
            <span class="news-descrip"><%= post.title %></span>
          </a>
    <% end %>
    </div>

  </div>
  <!--  END news main  -->

</div>
