<div class="container">
  <!--  begin slider  -->
  <%= render partial: 'slider_news', object: @featured_posts %>
  <!--  END slider  -->

  <!--  begin last news  -->
  <%= render partial: 'last_news' %>
  <!--  END last news  -->

  <!--  begin news main  -->
  <div class="row">

    <!--  begin popular-news  -->
    <%= render partial: 'popular_news' %>
    <!--  END popular-news  -->

  <%# this part will produce news by two part: small and big %>
  <% if !@posts.empty? %>
    <div class="news-items small"> <%# small part begins %>

      <%# these news will be set in two rows: for big pictures (2 posts) and for small (3 posts) %>
      <div class="news-item-row clearfix"> <%# big pictures part begins %>
      <% @posts.first(2).each_with_index do |post, index| %>
          <%= link_to link_selector(post), class: "news-item #{size(index + 1)}", data: {id: post.id}, target: target_selector(post) do %> <%# the size of pictures is taken from 'size(index)' helper %>
            <span class="img-wrap">
                <%= image_tag post.photo.url %>
            </span>
                    <span class="news-descrip">
                    <strong>
                        <% if size(index + 1) == 'big' %>
                        <%= truncate post.title, length: 150 %>
                      <% else %>
                        <%= truncate post.title, length: 70 %>
                      <% end %>
                    </strong>
                    <span class="mobile">
                    <%= truncate strip_tags(post.content.html_safe), length: 150 %>
                    </span>

                             <span class="read-more">Читать далее...</span>
                    </span>
          <% end %>
      <% end %>
      </div> <%# big pictures part ends %>

      <div class="news-item-row clearfix"> <%# small pictures part begins %>
        <% @posts.drop(2).first(3).each_with_index do |post, index| %> <%# you can control quantity with offset and first methods %>
            <%= link_to link_selector(post), class: "news-item #{size(index + 3)}", data: {id: post.id}, target: target_selector(post) do %>
            <span class="img-wrap">
                <%= image_tag post.photo.url %>
            </span>
                <span class="news-descrip">
                <strong>
                      <% if size(index + 1) == 'big' %>
                        <%= truncate post.title, length: 150, escape: false %>
                      <% else %>
                        <%= truncate post.title, length: 70, escape: false %>
                      <% end %>
                </strong>
                <span class="mobile">
                  <%= truncate strip_tags(post.content.html_safe), length: 150, escape: false %>
                </span>
                  <span class="read-more">Читать далее...</span>
                    </span>
            <% end %>
        <% end %>
      </div> <%# small pictures part ends %>

    </div> <%# small part ends %>

    <div class="news-items"> <%# big part begins %>
    <% offset = 5 %> <%# this is start offset (the firsts five posts already set if small block %>
       <% until @posts.drop(offset).empty? do %> <%# this is start of cycle to show other news %>

          <%# the big row begins %>
          <div class="news-item-row clearfix">
            <% @posts.drop(offset).first(3).each_with_index do |post, index| %>
                  <%= link_to link_selector(post), class: "news-item big", data: {id: post.id}, target: target_selector(post) do %>
                    <span class="img-wrap">
                        <%= image_tag post.photo.url %>
                    </span>
                    <span class="news-descrip">
                        <strong>
                          <%= truncate post.title, length: 190, escape: false %>
                        </strong>
                        <span class="mobile">
                          <%= truncate strip_tags(post.content.html_safe), length: 150, escape: false %>
                        </span>
                    </span>
                  <% end %>
            <% end %>
          </div> <%# the big row ends %>

          <div class="news-item-row clearfix"> <%# the small row begins %>
            <% @posts.drop(offset + 3).first(4).each_with_index do |post, index| %>
                <%= link_to link_selector(post), class: "news-item small", data: {id: post.id}, target: target_selector(post) do %>
                    <span class="img-wrap">
                        <%= image_tag post.photo.url %>
                    </span>
                    <span class="news-descrip">
                        <strong>
                          <%= truncate post.title, length: 75, escape: false %>
                        </strong>
                        <span class="mobile">
                            <%= truncate strip_tags(post.content.html_safe), length: 150 %>
                        </span>
                    </span>
                <% end %>
            <% end %>
          </div> <%# the small row ends %>

          <% offset += 7 %> <%# cyclic param incremented by 7 (this is a quantity of posts if one small and one big blocks) %>
      <% end %> <%# end of cycle %>
    </div> <%# big part ends %>

  <% else %> <%# part for empty main page %>
        <h2 class="">На данный момент новостей на главной странице нет.
          Пожалуйста, воспользуйтесь архивом или поиском для
        обращения к старым материалам.</h2>
  <% end %>

  </div>
  <!--  END news main  -->

</div>
