<!--  begin main content  -->
<div class="container">
  <!--  begin one news content -->
  <div class="row news-content">
    <time>
      <%= Russian::strftime(@post.created_at, "%d %B %Y, %A, %H:%M") %>
    </time>
    <h1><%= @post.title %></h1>
    <p class="text-right">Автор: <%= link_to @post.user.username, '#' %></p>
    <%= image_tag @post.photo.url, style: 'display: block; margin-left: auto; margin-right: auto;' %>
    <div class="social">
      <!--тут будут кнопки шаринга соц сетей-->
    </div>

    <!--  begin текст новости  -->
    <div class="news-text-wrap">
      <%= @post.content.html_safe %>
    </div>
    <!--  END текст новости  -->

    <!--  begin теги  -->
    <div class=clear></div>
    <div class="tags">
      <% @post.tag_list.each do |tag| %>
          <%= link_to tag, '#' %>
      <% end %>
    </div>

    <!--  END теги  -->

    <!-- BEGIN social sharing -->
    <div id="social_share" data-id="<%= @post.id %>">
      <%= social_share_button_tag @post.title %>
    </div>
    <!-- END social sharing -->

  </div>
  <!--  END one news content -->
    <br />
  <!-- Discus BEGIN -->
  <div class="news-content row">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_loaded = false;
        var disqus_shortname = 'apexnews';

        function load_disqus () {
            disqus_loaded = true;
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }

        on_ready = function(e) {
            if (disqus_loaded == false) {
                load_disqus()
            }
        };

        $(document).on('page:load', on_ready);
        $(document).ready(on_ready);
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <!-- Discus END -->

</div>

<!--  END main content  -->
