<!--  begin main content  -->
<div class="container">
  <!--  begin one news content -->
  <div class="row news-content">
    <time>
      <%= Russian::strftime(@post.created_at, "%d %B %Y, %A, %H:%M") %>
    </time>
    <h1 id="main_read"><%= @post.title %></h1>
    <p class="text-right">Автор: <%= link_to @post.user.username, '#' %></p>
    <%= image_tag @post.photo.url, style: 'display: block; margin-left: auto; margin-right: auto;' %>
    <div class="social">
      <!--тут будут кнопки шаринга соц сетей-->
    </div>

    <!--  begin текст новости  -->
    <div class="news-text-wrap">
      <%= @post.content.html_safe %>
    </div>
    <!--  END текст новости  -->

    <!--  begin теги  -->
    <div class=clear></div>
    <div class="tags">
      <% @post.tag_list.each do |tag| %>
          <%= link_to tag, read_tag_path(tag) %>
      <% end %>
    </div>

    <!--  END теги  -->

    <!-- BEGIN social sharing -->
    <div id="social_share" data-id="<%= @post.id %>">
      <%= social_share_button_tag @post.title %>
    </div>
    <!-- END social sharing -->

  </div>
  <!--  END one news content -->
    <br />

    <br />
  <!-- Discus BEGIN -->
  <div class="row">
    <div class="news-content col-md-<% unless @advertisement.nil? %>8<% else %>12<% end %> comments-wrap">
      <div id="disqus_thread"></div>
    </div>
  <!-- Discus END -->

  <!-- ADVERTISEMENT block begins -->
  <% unless @advertisement.nil? %>
      <div class="advertisement-wrap col-md-4">
      <div id="advertisement" class="advertisement-item">
        <%= link_to @advertisement.link, data: {id: @advertisement.id}, target: '_blank' do %>
            <%= image_tag @advertisement.photo.url %>
            <span class="ad-title">
                <%= truncate @advertisement.title, length: 190 %>
              </span>
        <% end %>
      </div>
      </div>
  <% end %>
  <!-- ADVERTISEMENT block ends -->
  </div>
</div>
<!--  END main content  -->

<!-- discus script block begins -->
<script type="text/javascript">
    var disqus_loaded = false;
    var disqus_shortname = 'apexnews';

    function load_disqus () {
        disqus_loaded = true;
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }

    on_ready = function(e) {
        if (disqus_loaded == false) {
            load_disqus()
        }
    };

    $(document).on('page:load', on_ready);
    $(document).ready(on_ready);
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- discus script block ends -->
