<!--  begin main content  -->
<div class="container">
  <!--  begin one news content -->
  <div class="row news-content">
    <time>
      <%= Russian::strftime(@post.created_at, "%d %B %Y, %A, %H:%M") %>
    </time>
    <h1><%= @post.title %></h1>
    <p class="text-right">Автор: <%= link_to @post.user.username, '#' %></p>
    <%= image_tag @post.photo.url, style: 'display: block; margin-left: auto; margin-right: auto;' %>
    <div class="social">
      <!--тут будут кнопки шаринга соц сетей-->
    </div>

    <!--  begin текст новости  -->
    <div class="news-text-wrap">
      <%= @post.content.html_safe %>
    </div>
    <!--  END текст новости  -->

    <!--  begin теги  -->
    <div class="tags">
      <% @post.tag_list.each do |tag| %>
          <%= link_to tag, '#' %>
      <% end %>
    </div>

    <!--  END теги  -->



  </div>
  <!--  END one news content -->
    <br />
  <!-- Discus BEGIN -->
  <div class="news-content">
    <div id="disqus_thread"></div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">

        if(typeof DISQUS === "undefined"){
            var disqus_shortname = 'apexnews'; // required: replace example with your forum shortname

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        } else {
            DISQUS.reset({
                reload: true,
                config: function () {
                    this.page.identifier = document.title;
                    this.page.url = location.href;
                }
            });
        }

    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <!-- Discus END -->

</div>

<!--  END main content  -->
