<!DOCTYPE html>
<html>
<head>
  <title>Панель администратора</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Административная панель', posts_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
      </ul>
      <%= form_tag posts_path, method: :get, enforce_utf8: false, class: 'navbar-form navbar-right' do %>
          <%= text_field_tag :word, params[:word], :id => 'search_field', class: 'form-control', placeholder: 'Искать новости' %>
      <% end %>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li <% if (params[:action] == 'index' || params[:action] == 'main' || params[:action] == 'hidden') && params[:controller] == 'posts' %>class="active" <% end %>><%= link_to 'Список новостей', posts_path %></li>
        <li <% if params[:action] == 'my_posts' && params[:controller] == 'posts' %>class="active" <% end %>><%= link_to 'Мои новости', my_posts_path %></li>
        <li <% if params[:action] == 'view' && params[:controller] == 'user' %>class="active" <% end %>><%= link_to 'Личный кабинет', user_path(current_user.id) %></li>
        <li <% if params[:action] == 'index' && params[:controller] == 'user' %>class="active" <% end %>><%= link_to 'Список пользователей', users_path %></li>
        <li <% if params[:controller] == 'advertisements' %>class="active" <% end %>><%= link_to 'Управление рекламой', advertisements_path %></li>
        <li <% if params[:controller] == 'options' %>class="active" <% end %>><%= link_to 'Настройки', options_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li <% if params[:action] == 'new' && params[:controller] == 'posts' %>class="active" <% end %>><%= link_to 'Новый пост', new_post_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <div id="tag_cloud">
          <%= render partial: 'posts/tag_cloud' %>
        </div>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p class="notice h4 text-warning"><%= notice %> <span class="text-danger"><%= alert %></span></p>

      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>