<!DOCTYPE html>
<html>
<head>
  <title>PostNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice h4 text-warning"><%= notice %></p>
<p class="alert h4 text-danger"><%= alert %></p>

<%= yield %>

</body>
</html>
