<!DOCTYPE html>
<html>
<head>
  <title>PostNews</title>
  <%= stylesheet_link_tag    "newspaper", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <!--  begin header  -->
  <header>
    <!--  begin header top  -->
    <div class="header-top">
      <div class="container">
        <div class="row">
          <%= link_to (image_tag 'logo.jpg'), root_path, class: 'logo-img' %>
          <%= link_to 'APEX NEWS', root_path, class: 'logo-text' %>
          <div class="weather">
            <%= image_tag 'sun.png' %>
            <span>Одесса <br/> +17</span>
          </div>
        </div>
      </div>
    </div>
    <!--  END header top  -->

    <!--  begin header main  -->
    <div class="header-main">
      <div class="container">
        <div class="row">
          <nav>
            <ul class="nav navbar-nav main-menu">
              <li><a href="#">Последние</a></li>
              <li><a href="#">Популярные</a></li>
              <li><a href="#">Видео</a></li>
              <li><a href="#">Фото</a></li>
            </ul>
          </nav>
          <time class="date-time">29 АПРЕЛЯ 2015, СРЕДА, 17:46</time>

          <!--  begin search and archive  -->
          <div class="archive-search">
            <a href="#" class="js-search search-button">
              <i class="glyphicon glyphicon-search"></i>
            </a>
            <a href="#" class="js-archive archive-button">
              <i class="glyphicon glyphicon-calendar"></i>
            </a>
          </div>
          <!--  END search and archive  -->
        </div>
      </div>

    </div>
    <!--  END header main  -->
  </header>
  <!--  END header  -->

  <!--  begin main content  -->
  <%= yield %>
  <!--  END main content  -->


  <!--  begin footer  -->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="social">
            <a href="#" class="social social-fb"><span class="social social-fb-hover"></span></a>
            <a href="#" class="social social-tw"><span class="social social-tw-hover"></span></a>
            <a href="#" class="social social-vk"><span class="social social-vk-hover"></span></a>
            <a href="#" class="social social-rss"><span class="social social-rss-hover"></span></a>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="copy">© 2015 Apex News. Все права защищены.</p>
        </div>
      </div>
    </div>
  </footer>
  <!--  END footer  -->



  <!--  begin search and archive popups  -->
  <div class="popup-wrapper popup-search">
    <button class="popup-close"><i></i><i></i></button>
    <div class="popup-search-content">
      <%= form_tag '#', method: :get, enforce_utf8: false do %>
          <%= text_field_tag :word, params[:word], :id => 'search_field', class: 'input-search', placeholder: 'Введите слово или фразу для поиска...' %>
          <%= button_tag class: 'search-btn' do %>
              <i class="glyphicon glyphicon-search"></i>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="popup-wrapper popup-archive">
    <button class="popup-close"><i></i><i></i></button>
    <div class="popup-archive-content">

    </div>
  </div>
  <!--  END search and archive popups  -->

</div>

</body>
</html>
