<!DOCTYPE html>
<html>
<head>
  <title>Apex-news</title>
  <%= stylesheet_link_tag    "newspaper", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= auto_discovery_link_tag(:atom, feed_url(format: "atom")) %>
  <%= disqus_init %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <!--  begin header  -->
  <header>
    <!--  begin header top  -->
    <div class="header-top">
      <div class="container">
        <div class="row">
          <%= link_to (image_tag 'logo.jpg'), root_path, class: 'logo-img' %>
          <%= link_to 'APEX NEWS', root_path, class: 'logo-text' %>
          <div class="weather">
            <%= weather_tag %>
            <%# image_tag 'sun.png' %>
            <span>Одесса<br/> C&deg; <%= weather_temp %></span>
          </div>
        </div>
      </div>
    </div>
    <!--  END header top  -->

    <!--  begin header main  -->
    <div class="header-main">
      <div class="container">
        <div class="row">
          <nav>
            <ul class="nav navbar-nav main-menu">
              <li><a href="#">Последние</a></li>
              <li><a href="#">Популярные</a></li>
              <li><a href="#">Видео</a></li>
              <li><a href="#">Фото</a></li>
            </ul>
          </nav>
          <time class="date-time"><%= @time.upcase %></time>
          <span class="notice h4 text-warning" style="margin-left: 20px;"> <%= notice %> <span class="text-danger"> <%= alert %> </span></span>
          <!--  begin search and archive  -->
          <div class="archive-search">
            <a href="#" class="js-search search-button">
              <i class="glyphicon glyphicon-search"></i>
            </a>
            <a href="#" class="js-archive archive-button">
              <i class="glyphicon glyphicon-calendar"></i>
            </a>
            <% if current_user %>
                <% unless current_user.newbie? %>
                    <%= link_to admin_path, class: '' do %>
                        <i class="glyphicon glyphicon-wrench"></i>
                    <% end %>
                <% end %>
            <% end %>
          </div>
          <!--  END search and archive  -->
        </div>
      </div>

    </div>
    <!--  END header main  -->
  </header>
  <!--  END header  -->

  <!--  begin main content  -->
  <%= yield %>
  <!--  END main content  -->


  <!--  begin footer  -->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="social">
            <%= link_to @options['fb-link'] || '#', class: 'social social-fb' do %><span class="social social-fb-hover"></span><% end %>
            <%= link_to @options['tw-link'] || '#', class: 'social social-tw' do %><span class="social social-tw-hover"></span><% end %>
            <%= link_to @options['vk-link'] || '#', class: 'social social-vk' do %><span class="social social-vk-hover"></span><% end %>
            <%= link_to feed_url(format: "atom"), class: 'social social-rss' do %><span class="social social-rss-hover"></span><% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="copy">© 2015 Apex News. Все права защищены.</p>
        </div>
      </div>
    </div>
  </footer>
  <!--  END footer  -->



  <!--  begin search and archive popups  -->
  <div class="popup-wrapper popup-search">
    <button class="popup-close"><i></i><i></i></button>
    <div class="popup-search-content">
      <%= form_tag news_search_path, method: :get, autocomplete: "off", remote: true, enforce_utf8: false do %>
          <%= text_field_tag :word, params[:word], :id => 'search_field', class: 'input-search', placeholder: 'Введите слово или фразу для поиска...' %>
          <%= button_tag class: 'search-btn' do %>
              <i class="glyphicon glyphicon-search"></i>
          <% end %>
      <% end %>
      <div class="search-results-wrap"></div>
    </div>
  </div>

  <div class="popup-wrapper popup-archive">
    <button class="popup-close"><i></i><i></i></button>
    <div class="popup-archive-content">

    </div>
  </div>
  <!--  END search and archive popups  -->

</div>
<!-- discus count BEGIN -->
<script type="text/javascript">
  disqus_count = function () {
      var disqusPublicKey = "WtKqgFBR3q7PkVrmnJdUXw1VYyrrSrpTQGZ6dbvOESUy25xGDhriuDeRvWoawxwy"; // Replace with your own public key
      var disqusShortname = "apexnews"; // Replace with your own shortname

      var urlArray = [];

      $('.disqus-comment-count').each(function () {
          var url = $(this).attr('data-disqus-url');
          urlArray.push('link:' + url);
      });

      $.ajax({
          type: 'GET',
          url: "https://disqus.com/api/3.0/threads/set.jsonp",
          data: { api_key: disqusPublicKey, forum : disqusShortname, thread : urlArray },
          cache: false,
          dataType: 'jsonp',
          success: function (result) {
              //console.log(urlArray);
              //console.log(result);
              for (var i in result.response) {

                  var countText = "";
                  var count = result.response[i].posts;

                  if (count == 1)
                      countText = "";

                  $('span[data-disqus-url="' + result.response[i].link + '"]').replaceWith(count + countText);

              }
          }
      });
  };
    $(document).on('fotorama:show', disqus_count);
</script>
<!-- discus count END-->

</body>
</html>
